* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

:root {
    --body-bg: #E5E5E5;
    --textarea-bg: white;
    --areatext-color: #0A3871; 
    --h1-color: rgb(70, 65, 65);
    --button-bg: #D8DFE8;
    --button-color: black;
    --text-color: black;
    --section-bg: white;
}

.dark-mode:root {
    --body-bg: #212529;
    --textarea-bg: #141516;
    --areatext-color: rgb(209, 208, 208);;
    --h1-color: rgb(209, 208, 208);
    --button-bg: #212529;
    --button-color: white;
    --text-color: rgb(209, 208, 208);
    --section-bg: #141516;;
}

body {
    background-color: var(--body-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: var(--h1-color);
    font-family: cursive;
    margin-bottom: 15px;
    margin-top: 10px;
}
.div-btn {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.div-btn > span {
    color: var(--text-color);
    position: absolute;
    top: 22px;
    align-self: flex-end;
    right: 135px;
    font-size: 15px;
}

#atv-dark { 
    color: var(--text-color);
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    width: 70px;
    height: 20px;
    border-radius: 20px;
    align-self: flex-end; 
    position: absolute;
    top: 22px;
    background-color: transparent;
}

.separar-em-dois {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    flex-wrap: wrap;

}

.boxescrever {
    margin-top: 40px;
    display: flex;
    width: 40%;
    height: fit-content;
}

form {
    width: 100%;
}

.boxescrever > form > textarea {
    background-color: var(--textarea-bg);
    color: var(--areatext-color);
    height: 14em;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: rgb(40, 177, 219);
    border-radius: 10px;
    padding-top: 5px;
    margin-bottom: 40px;
    font-size: 22px;
    padding-left: 5px;
}

.boxescrever > form > textarea::placeholder {
    color: var(--areatext-color);
}

textarea:focus, input:focus {
    outline: 0;
}

.boxescrever > form > input {
    width: 49%;
    height: 50px;
    border: solid 1px rgb(40, 177, 219);
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
    transition: all ease-in-out 0.3s;
}

.boxescrever > form > input:first-of-type {
   background-color: #0A3871;
   color: white;
}

.boxescrever > form > input:first-of-type:hover {
    background-color: #132a47;
}

.boxescrever > form > input:first-of-type:active {
    background-color: #162436;
}

.boxescrever > form > input:last-of-type {
    background-color: var(--button-bg);
    color: var(--button-color);
}

.boxescrever > form > input:last-of-type:hover {
    background-color: #162436;
    color: white;
}

.boxescrever > form > input:last-of-type:active {
    background-color: #132a47;
}

.boxescrever > form > figure {
    background-image: url(../assets/icon.svg);
    background-repeat: no-repeat;
    width: 10rem;
    height: 1rem;
    background-position: top left;
}

.boxescrever > form > figure > legend {
    font-size: 12px;
    color: var(--text-color);
    margin-left: 1.5rem;
}

.boxmensagem {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--section-bg);
    border-radius: 20px;
    margin-left: 10px;
    border: solid;
    border-width: 1px;
    border-color: rgb(40, 177, 219);
    margin-bottom: 20px;
    margin-top: 10px;
}

.boxmensagem > b, p {
    text-align: center;
    color: var(--text-color);
}

.boxmensagem > p {
    font-size: 15px;
}

.boxmensagem > textarea {
    background-color: var(--textarea-bg);
    color: var(--text-color);
    height: 450px;
    width: 330px;
    border-radius: 20px;
    align-self: center;
    margin-top: 5px;
    padding-left: 7px;
    padding-top: 15px;
    display: none;
    font-size: 20px;
}

.boxmensagem > input {
    height: 50px;
    width: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    border: solid 1px rgb(40, 177, 219);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    color: var(--text-color);
}

.boxmensagem > input:hover {
    background-color: rgba(8, 190, 245, 0.315);
}

.boxmensagem > input:active {
    background-color: rgba(37, 150, 185, 0.445);
}

/* Barra de rolagem */

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(250, 248, 248); 
border-radius: 2px;
}

::-webkit-scrollbar-thumb {
background: #0A3871; 
border-radius: 2px;
}